<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" name="user" placeholder="user">
        <input type="text" placeholder="write your post here" name="content">
        <button type="submit">POST</button>
    </form>
</body>
</html>