<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing post</title>
</head>
<body>
    <h1>Here is your post</h1>
    <h2><%= post.user %></h2>
    <h2><%= post.content %></h2>
    <button onclick="window.location.href='http://localhost:3000/posts'">All posts</button>
</body>
</html>